# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties
mobile/*.jks

# Laravel backend
backend_v2/vendor/
backend_v2/.env
backend_v2/storage/logs/
backend_v2/bootstrap/cache/*.php
backend_v2/.phpunit.result.cache
backend_v2/storage/app/public/images/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
